


  .signin input {
    display: block;
    margin-left: 35%;
    height: 50px;
    width: 350px;
    border-color: cornflowerblue;
}     
 .signin label {
    margin-left:34%; 
    padding: 10px;
    font-size: 15px;
} 
/* .signin {
    color: cornflowerblue;
    max-width: 35%;
    height: 450px;
    margin-left: 20%;
    margin-top: 30px;
} */
.btn2 {
    margin-left: 35%;
    border: none;
    padding: 10px;
    color: cornflowerblue;
    width: 350px;
    margin-top: 30px;
} 
.signin h5,h2 {
    margin-left: 35%;
} 